@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@import './themes.css';

@custom-variant dark (&:is(.dark *));

@custom-variant fixed (&:is(.layout-fixed *));
/* styles.css or global.css */

@keyframes accordion-slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--ngp-accordion-content-height);
  }
}

@keyframes accordion-slideUp {
  from {
    height: var(--ngp-accordion-content-height);
  }
  to {
    height: 0;
  }
}

/* Attach animations to the ngpAccordionContent data attributes */
[ngpAccordionContent][data-open] {
  animation: accordion-slideDown 0.2s ease-in-out forwards;
}

[ngpAccordionContent][data-closed] {
  animation: accordion-slideUp 0.2s ease-in-out forwards;
}

@theme inline {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --font-geist: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono';
  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 2000px;
  --font-sans: var(--font-geist);
  --font-mono: var(--font-geist-mono);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);
  --color-code: var(--code);
  --color-code-foreground: var(--code-foreground);
  --color-code-highlight: var(--code-highlight);
  --color-code-number: var(--code-number);
  --color-selection: var(--selection);
  --color-selection-foreground: var(--selection-foreground);

  /* animations */

  /* dialog */

  --animate-slide-in: slide-in 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  --animate-slide-out: slide-out 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  --animate-fade-in: fade-in 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  --animate-fade-out: fade-out 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes slide-in {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-out {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-20px);
      opacity: 0;
    }
  }

  /* sheet  */

  --slide-in-from-right: slide-in-from-right 300ms cubic-bezier(0.4, 0, 0.2, 1);
  --slide-out-to-right: slide-out-to-right 300ms cubic-bezier(0.4, 0, 0.2, 1);

  --slide-in-from-left: slide-in-from-left 300ms cubic-bezier(0.4, 0, 0.2, 1);
  --slide-out-to-left: slide-out-to-left 300ms cubic-bezier(0.4, 0, 0.2, 1);

  --slide-in-from-top: slide-in-from-top 300ms cubic-bezier(0.4, 0, 0.2, 1);
  --slide-out-to-top: slide-out-to-top 300ms cubic-bezier(0.4, 0, 0.2, 1);

  --slide-in-from-bottom: slide-in-from-bottom 300ms cubic-bezier(0.4, 0, 0.2, 1);
  --slide-out-to-bottom: slide-out-to-bottom 300ms cubic-bezier(0.4, 0, 0.2, 1);

  --animate-sheet-fade-in: sheet-fade-in 300ms cubic-bezier(0.4, 0, 0.2, 1);
  --animate-sheet-fade-out: sheet-fade-out 300ms cubic-bezier(0.4, 0, 0.2, 1);

  @keyframes slide-in-from-right {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-out-to-right {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  @keyframes slide-in-from-left {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-out-to-left {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  @keyframes slide-in-from-top {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-out-to-top {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  @keyframes slide-in-from-bottom {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-out-to-bottom {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }

  @keyframes sheet-fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes sheet-fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* ngprimitives examples css */
  --ngp-white: oklch(1 0.001 0.001);
  --ngp-black: oklch(0 0.001 0.001);

  --ngp-gray-50: oklch(0.985 0 0);
  --ngp-gray-100: oklch(0.967 0.001 286.375);
  --ngp-gray-200: oklch(0.92 0.004 286.32);
  --ngp-gray-300: oklch(0.871 0.006 286.286);
  --ngp-gray-400: oklch(0.705 0.015 286.067);
  --ngp-gray-500: oklch(0.552 0.016 285.938);
  --ngp-gray-600: oklch(0.442 0.017 285.786);
  --ngp-gray-700: oklch(0.37 0.013 285.805);
  --ngp-gray-800: oklch(0.274 0.006 286.033);
  --ngp-gray-900: oklch(0.21 0.006 285.885);
  --ngp-gray-950: oklch(0.141 0.005 285.823);

  --ngp-background: var(--ngp-white);
  --ngp-background-secondary: var(--ngp-gray-300);
  --ngp-background-hover: var(--ngp-gray-50);
  --ngp-background-active: var(--ngp-gray-100);
  --ngp-background-inverse: var(--ngp-black);
  --ngp-background-disabled: var(--ngp-gray-100);
  --ngp-background-blue: #dbeafe;
  --ngp-background-success: oklch(84.1% 0.238 128.85);

  --ngp-border: rgba(0, 0, 0, 0.1);
  --ngp-border-secondary: var(--ngp-gray-300);
  --ngp-border-blue: #3b82f6;
  --ngp-border-inverse: var(--ngp-black);

  --ngp-text-emphasis: var(--ngp-black);
  --ngp-text-primary: var(--ngp-gray-900);
  --ngp-text-secondary: var(--ngp-gray-600);
  --ngp-text-tertiary: var(--ngp-gray-500);
  --ngp-text-disabled: var(--ngp-gray-400);
  --ngp-text-placeholder: var(--ngp-gray-400);
  --ngp-text-inverse: var(--ngp-white);
  --ngp-text-blue: #3b82f6;
  --ngp-text-red: #ef4444;

  --ngp-shadow: 0 1px 2px 0 rgba(0 0 0 0.05);
  --ngp-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --ngp-shadow-border: inset 0 0 0 1px rgba(0, 0, 0, 0.1);

  --ngp-focus-ring: rgb(59 130 246);

  --ngp-avatar-background: #bae6fd;
  --ngp-avatar-border: #fff;

  --ngp-button-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1),
    0 0 0 1px rgb(0 0 0 / 0.05);

  --ngp-input-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  /* ngprimitives example css */

  --ngp-background: var(--ngp-gray-950);
  --ngp-background-secondary: var(--ngp-gray-700);
  --ngp-background-hover: var(--ngp-gray-900);
  --ngp-background-active: var(--ngp-gray-800);
  --ngp-background-inverse: var(--ngp-white);
  --ngp-background-disabled: var(--ngp-gray-900);
  --ngp-background-blue: rgba(95, 160, 246, 0.274);

  --ngp-border: var(--ngp-gray-800);
  --ngp-border-secondary: var(--ngp-gray-700);
  --ngp-border-blue: #1980ff;
  --ngp-border-inverse: var(--ngp-white);

  --ngp-text-emphasis: var(--ngp-white);
  --ngp-text-primary: var(--ngp-gray-100);
  --ngp-text-secondary: var(--ngp-gray-300);
  --ngp-text-tertiary: var(--ngp-gray-400);
  --ngp-text-disabled: var(--ngp-gray-500);
  --ngp-text-inverse: var(--ngp-black);
  --ngp-text-blue: #1980ff;
  --ngp-text-red: #ff4d4d;

  --ngp-avatar-background: #18181b;
  --ngp-avatar-border: #3f3f46;

  --ngp-input-shadow: 0 1px 2px rgba(255, 255, 255, 0.007), 0 0 0 1px rgba(255, 255, 255, 0.1);

  --ngp-button-shadow: 0 1px 3px 0 rgb(255, 255, 255, 0.1), 0 1px 2px -1px rgb(255, 255, 255, 0.1),
    0 0 0 1px rgb(255, 255, 255, 0.05);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  ::selection {
    @apply bg-selection text-selection-foreground;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    [data-wrapper] {
      @apply min-[1800px]:border-t;
    }
  }

  a:active,
  button:active {
    @apply opacity-60 md:opacity-100;
  }
}

@utility border-grid {
  @apply border-border/50 dark:border-border;
}

@utility section-soft {
  @apply from-background to-surface/40 dark:bg-background 3xl:fixed:bg-none bg-gradient-to-b;
}

@utility theme-container {
  @apply font-sans;
}

@utility container-wrapper {
  @apply 3xl:fixed:max-w-[calc(var(--breakpoint-2xl)+2rem)] mx-auto w-full px-2;
}

@utility container {
  @apply 3xl:max-w-screen-2xl mx-auto max-w-[1400px] px-4 lg:px-8;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility border-ghost {
  @apply after:border-border relative after:absolute after:inset-0 after:border after:mix-blend-darken dark:after:mix-blend-lighten;
}

@utility step {
  counter-increment: step;
  @apply relative;

  &:before {
    @apply text-muted-foreground right-0 mr-2 hidden size-7 items-center justify-center rounded-full text-center -indent-px font-mono text-sm font-medium md:absolute;
    content: counter(step);
  }
}

@utility extend-touch-target {
  @media (pointer: coarse) {
    @apply relative touch-manipulation after:absolute after:-inset-2;
  }
}

@layer components {
  .steps {
    &:first-child {
      @apply !mt-0;
    }

    &:first-child > h3:first-child {
      @apply !mt-0;
    }

    > h3 {
      @apply !mt-16;
    }

    > h3 + p {
      @apply !mt-2;
    }
  }

  [data-rehype-pretty-code-figure] {
    background-color: var(--color-code);
    color: var(--color-code-foreground);
    border-radius: var(--radius-lg);
    border-width: 0px;
    border-color: var(--border);
    margin-top: calc(var(--spacing) * 6);
    overflow: hidden;
    font-size: var(--text-sm);
    outline: none;
    position: relative;
    @apply md:-mx-1;

    &:has([data-rehype-pretty-code-title]) [data-slot='copy-button'] {
      top: calc(var(--spacing) * 1.5) !important;
    }
  }

  [data-rehype-pretty-code-title] {
    border-bottom: color-mix(in oklab, var(--border) 30%, transparent);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-block: calc(var(--spacing) * 2.5);
    padding-inline: calc(var(--spacing) * 4);
    font-size: var(--text-sm);
    font-family: var(--font-mono);
    color: var(--color-code-foreground);
  }

  [data-line-numbers] {
    display: grid;
    min-width: 100%;
    white-space: pre;
    border: 0;
    background: transparent;
    padding: 0;
    counter-reset: line;
    box-decoration-break: clone;
  }

  [data-line-numbers] [data-line]::before {
    font-size: var(--text-sm);
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: calc(var(--spacing) * 16);
    padding-right: calc(var(--spacing) * 6);
    text-align: right;
    color: var(--color-code-number);
    background-color: var(--color-code);
    position: sticky;
    left: 0;
  }

  [data-line-numbers] [data-highlighted-line][data-line]::before {
    background-color: var(--color-code-highlight);
  }

  [data-line] {
    padding-top: calc(var(--spacing) * 0.5);
    padding-bottom: calc(var(--spacing) * 0.5);
    min-height: calc(var(--spacing) * 1);
    width: 100%;
    display: inline-block;
  }

  [data-line] span {
    color: var(--shiki-light);

    @variant dark {
      color: var(--shiki-dark) !important;
    }
  }

  [data-highlighted-line],
  [data-highlighted-chars] {
    position: relative;
    background-color: var(--color-code-highlight);
  }

  [data-highlighted-line] {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      content: '';
      background-color: color-mix(in oklab, var(--muted-foreground) 50%, transparent);
    }
  }

  [data-highlighted-chars] {
    border-radius: var(--radius-sm);
    padding-inline: 0.3rem;
    padding-block: 0.1rem;
    font-family: var(--font-mono);
    font-size: 0.8rem;
  }
}
